<div class="container m-auto mt-4">
  <h1>Create a new Bookmark</h1>
  <div class='row'>
    <div class="col-4">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
