.card-category {
  // background-size: cover;
  // background-position: center;
  background-color: white;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  // font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
